<router-outlet>
  <div>
    <h3>
      <label for="fname">Please provide us with a valid Artist name: </label>
      <input class="inputs" type="text" [(ngModel)]="performer1"/>
      <br/>
      <br/>
      <label for="fname">Page: </label>
      <input class="inputs" type="text" [(ngModel)]="title"/>
      <br/>
      <br/>
      <button class="push" (click)="getSongsId()">GO</button>
    </h3>
  </div>

  <div *ngFor="let item of dictionary | keyvalue: asIsOrder">
    <li>
      <ol>{{ item.key }}
        <br>
         {{ item.value }}
      </ol>
    </li>
  </div>
      

</router-outlet>